<div class="hero-body">
    <div class="container">
        <div class="level">
            <div class="level-left is-hidden-mobile">
                <img src="/images/logo.png">
            </div>
            <div class="level-item ml-5">
                <div>
                    <div class="columns wg-title">
                        <div class="column">
                            <h1>{{ site.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
